<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Group Project</title>
    </head>
    <body>
        <h1>Baseball Card Creator</h1>
        <form method="POST" action="/players">
            <label for="name">Name</label>
            <input type="text" name="name"></input>
            <label for="name">Jersey Number</label>
            <input type="number" name="jersey_number"></input>
            <label for="name">Team</label>
            <input type="text" name="team"></input>
            <input type="submit" name="submit" value="create new player!"></input>
        </form>


    </body>
</html>
